.Tasks
  height: 100vh
  padding: 1rem
  background-color: white

  .create-todo
    text-align: center

    .iscompleted
      display: block
      margin: 1rem

      .icon
        margin-left: .5rem

    input[type="text"]
      background-color: #eee
      padding: 1rem
      font-size: 1rem
      border-radius: 10px
      max-width: 400px
      width: 100%

    input[type="text"], input[type="text"]:focus
      border: none
      outline: none

  .error-msg
    color: red
    margin: 1rem

  .add-btn
    display: block
    background-color: black
    color: white
    font-weight: 600
    font-size: 1.2rem
    border: 2px solid black
    padding: .2rem .4rem
    margin: .5rem auto
    border-radius: 5px

  span 
    margin-left: 5px
