.todo
    cursor: pointer
    background-color: #fff
    padding: 1rem
    margin: 0.8rem 0
    font-family: 'Poppins', sans-serif
    font-size: 1.4rem
    font-weight: 500
    border: 1px solid #ccc
    border-radius: 0.5rem
    overflow: hidden
    text-overflow: ellipsis

    .icon
      margin-right: 1rem
    .delete-btn
      color: #FF5959
